<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Log in!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    </head>
    <body id="login">
        <div>
            <div class="container">
                <form method="post" class="form-signin">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h2 class="form-signin-heading">Login</h2>
                    <div class="col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="input-block-level" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="_password" id="inputPassword" class="input-block-level" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-large btn-primary" type="submit">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>