{% extends 'base.html.twig' %}

{% block title %}Exchange Respect Points{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/chosen.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header" style="margin-bottom: 30px;">
            <div class="muted pull-left">Exchange Request Points</div>
        </div>
        <div class="block-content collapse in">
            <div class="table-toolbar">
                <form action="{{ path('exchange-respect-points') }}" id="exchange-rp-form" method="POST" class="form-horizontal">
                    <fieldset>
                        <div class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>
                        <div class="control-group">
                            <label class="control-label">Select User<span class="required">*</span></label>
                            <div class="controls span6">
                                <select name="to_user" class="chzn-select span6 m-wrap">
                                    <option disabled="" selected="">Select User</option>
                                    {% for user in users %}
                                    <option value="{{user.id}}">{{user.name ~ ' (' ~ user.respect_point ~ ')'}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Respect Points<span class="required">*</span></label>
                            <div class="controls span6">
                                <input type="number" name="respect_points" data-required="1" class="span6 m-wrap"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description<span class="required">*</span></label>
                            <div class="controls span6">
                                <textarea rows="5" name="description" data-required="1" class="span6 m-wrap"></textarea>
                            </div>
                        </div>
                        <div class="control-group span12">
                            <button type="submit" class="btn btn-primary span3">Exchange</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- /block -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript">
        var ExchangeFormValidation = function () {
            var handleValidation1 = function() {
                var form1 = $('#exchange-rp-form');
                var error1 = $('.alert-error', form1);
                form1.validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-inline', // default input error message class
                    focusInvalid: false, // do not focus the last invalid input
                    ignore: "",
                    rules: {
                        to_user: {
                            required: true
                        },
                        respect_points: {
                            required: true
                        },
                        description : {
                            required: true,
                            maxlength: 255 
                        }
                    },
                    invalidHandler: function (event, validator) { //display error alert on form submit                                      error1.show();
                        ExchangeFormValidation.scrollTo(error1, -200);
                    },
                    highlight: function (element) { // hightlight error inputs
                        $(element).closest('.help-inline').removeClass('ok'); // display OK icon
                        $(element).closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                    },
                    unhighlight: function (element) { // revert the change done by hightlight
                        $(element).closest('.control-group').removeClass('error'); // set error class to the control group
                    },
                    success: function (label) {
                        label.addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                        .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                    },
                    submitHandler: function (form) {
                        error1.hide();
                        form.submit();
                    }
                });
            };

            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                },
                // wrapper function to scroll to an element
                scrollTo: function (el, offeset) {
                    pos = el ? el.offset().top : 0;
                    jQuery('html,body').animate({
                            scrollTop: pos + (offeset ? offeset : 0)
                        }, 'slow');
                }
            };
        }();
        
        jQuery(document).ready(function () {
            $(".chzn-select").chosen();
            ExchangeFormValidation.init();
        });
    </script>
{% endblock %}
